<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>710110295592-1814japjbh433b1i6l8u7amn2jsn8ns0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710110295592-1814japjbh433b1i6l8u7amn2jsn8ns0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmiqrB4HWZAmyPlKSA4e2cHk-IJppFmsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>710110295592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mobiledevsberkeley.theberkeleyapp</string>
	<key>PROJECT_ID</key>
	<string>the-berkeley-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-berkeley-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710110295592:ios:f8b405ffb82396da</string>
	<key>DATABASE_URL</key>
	<string>https://the-berkeley-app.firebaseio.com</string>
</dict>
</plist>